/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: #B1663C;
}
.logoutli{
	display: none;
}
.loginli{
	display: block;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 20px;
}
.btnmodifier{
	display: none;
	cursor: pointer;
}
.edition-mode {
	background-color: black;
	height: 60px;
	width:100%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1%;
   display: none;
   margin: 0;
}
.edition-mode i , span {
	cursor: pointer;
}
.filtres {
	visibility: visible;
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
  }
.filtres button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	text-align: center;
	padding: 9px 20px;
	background-color: white;
	border-radius: 60px;
	border: 2px solid #1D6154;
}
.filtres button:focus{
		background-color: #1D6154;
				color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
.login {
	width: 35%;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.login h1 {
	color: #1D6154;
	margin-bottom: 20px;
}
.login form {
	display: flex;
	flex-direction: column;
	text-align: left;
}
.login input {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 10px;
}
.login label {
	margin-top: 15px;
}
.login p {
	margin-top: 20px;
	text-decoration: underline;
}
.login .passwordErr{
	color: red;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* Modal */
.modalContainer {
	display: none;
	position: absolute;
	width: 100%;
	height: 480%;
	background-color:#808080bd;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.imagesModal {
	width: 43%;
	height : 688px;
	left:28%;
	top: 600px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: scroll;
}
.imagesModal h2{
	color: black;
	margin-top: 70px;
	margin-bottom: 40px;
}
.fa-xmark {
	position: absolute;
	top: 30px;
	right: 20px;
	cursor: pointer;
}
 .imagesModal button {
	font-family: 'Syne';
    font-weight: 700;
    color:white;
    background-color:#1D6154 ;
    border-radius: 60px;
    width: 237px;
    border: 2px solid #1D6154;
	height: 36px;
	position: absolute;
	bottom: 35px;
}
hr {
	color: #B3B3B3;
	width:80%;
	height: 0px;
	border: 1px solid #B3B3B3;
	bottom: 100px;
	position: absolute;
  }
  .imgGallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	row-gap: 30px;
	padding-left: 100px;
	padding-right: 100px;
	margin: 0;

  }
  
   .imgGallery figure {
	width: 76px;
	height: 102px;
	position: relative;
  }
  .imagesModal .imgGallery  figure img {
	width: 100%;
	height: 100%;
  }
 .imgGallery  figure span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	height: 17px;
    width: 17px ;
	cursor: pointer;
  }
  .fa-trash-can {
	font-size: 0.7rem;
	color: white;
  }
.addImages{
	width: 43%;
	height : 688px;
	left:28%;
	top: 600px;
	background-color: white;
	border-radius: 5px;
	display: none;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: scroll;

}
.fa-arrow-left{
	position: absolute;
	top: 30px;
	left: 20px;
	cursor: pointer;
}
.addImages h2{
	color: black;
	margin-top: 70px;
	margin-bottom: 40px;
}
#addimage{
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: center;
}
#addimage input[type="submit"]{
	font-family: 'Syne';
    font-weight: 700;
    color:white;
    background-color:#1D6154 ;
    border-radius: 60px;
    width: 237px;
    border: 2px solid #1D6154;
	height: 36px;
	position: absolute;
	bottom: 35px;
}
#addimage input, select{
		height: 51px;
		width: 420px;
		border: none;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
		margin-bottom: 20px;
		margin-top: 10px;
	}
#addimage label{
	display: flex;
	align-self: flex-start;
}
.Image_Zone{
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 5px;


}
.Image_Zone .fa-image {
	font-size: 3rem;
	color: #B3B3B3; 
	margin-top: 20px;  
	margin-bottom: 10px;
  }
.Image_Zone label {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #306685;
	border-radius: 50px;
	background-color: #cbd6dc;
	border: none;
	width: 173px;
	height: 36px;
	margin-bottom: 10px;
  }
  .Image_Zone input{
	display: none;
  }
  .Image_Zone img {
	display: none;
	max-width: 100%;
	height: 100%;
  }